<head>
  <title>CAR MATCH APP</title>
  <style>
    /* Google マップを表示させるためには style 内で width と height の指定が必要 */
    #mapDiv {
      width: 100%;
      height: 1000px;
    }
  </style>
</head>

<body>
  <div id="mapDiv"></div> <!-- 地図を置くdiv要素 -->
</body>

<script>
  const placeCars = () => {
    fetch('http://localhost:8080/admin/getCarPositions').then(response => response.json())
      .then(data => {
        data.map(d => {
          // マーカーをつける
          const marker = new google.maps.Marker({
            position: { lat: d.position.latitude_i_y, lng: d.position.longitude_k_x },
            map: map
          });
        });
      })
  }
  function initMap() {
    navigator.geolocation.getCurrentPosition((position) => {
      var latitude_i_y = position.coords.latitude;         // 緯度を取得
      var longitude_k_x = position.coords.longitude;        // 経度を取得
      var initPos = new google.maps.LatLng(latitude_i_y, longitude_k_x); // 初期位置を指定
      map = new google.maps.Map(mapDiv, {        // Map オブジェクトを作成して mapDiv に表示
        center: initPos,
        zoom: 13,
      });
      placeCars();
      // let currentWindow;
    })
  }
</script>
<script id="googleMapUrl"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl7XzTVOilq7dDEMXjWjJLXgjz6VCTymc&callback=initMap"></script>
動作確認
